
block content 
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href='/icons/fontawesome/css/font-awesome.css')
    link(rel="stylesheet", href="/style/style.css")
    link(rel="shortcut icon", href="/img/favicon/favicon.webp", type="image/webp")