mixin userDetail(labelText, content)
    label= labelText
        p.detail-content= content

doctype html
html(lang="en")
    head
        include _head

        title= title
    body 

        .body-container 
            .user-profile 
                img(src='/img/users/default-user.webp', alt='Profile')

            .user-details-container 
                .user-detail
                    +userDetail('full name', user.fullname) 
                    +userDetail('email', user.email) 

                .user-detail
                    +userDetail('phone number', user.phonenumber) 
                    +userDetail('password', "It's personal" ) 

                .user-detail
                    +userDetail('gender', user.gender) 
                    +userDetail('purpose', user.purpose) 
                    

    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') 
    script(type='module' src='/js/script.js') 