doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title

        block content
            include _head
    body 

        .note-detail-container
            .detail-header  
                a.dir-detail-btn(href='/dashboard') #[i(class='fa fa-arrow-left')] back

                .detail-header-keeper
                    p.detail-info.user= loggedInUser.fullname
                    p.detail-info.purpose= loggedInUser.purpose


            .horizontal-line

            .detail-title-note
                p.detail-title 
                p.detail-note
                
                .detail-date-keeper 
                    p.detail-date  


        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') 
        script(type='module' src='/js/script.js') 