doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title

        block content
            include _head
    body 

        .details-container
            .detail-header header
            .details-note ssdfdfsdf sdfjhsd fjsdkhfsjdfhsjkdfhuewhf sdafjsfhskdjfhwueh sdjfhskfjhd 


        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') 
        script(type='module' src='/js/script.js') 