doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 

        block content
            include _head
    body 

        .body-container
            .home-keeper 
                .home-container 
                    img(src="/img/favicon/favicon.webp", alt="")
                    p.home-header Welcome to #[span Note Tracker]
                    em.sub-header Please, choice a method
                    
                    .homw-keeper
                        a.home-btns.signup(href='user/signup') sign up
                        a.home-btns.login(href='user/login') log in

                    p.know-that If you already have an account, click on 'log in'